VITE_BACKEND_ENDPOINT=http://localhost:3001
VITE_GEMINI_API_KEY= AIzaSyDh6QNz6Ujm4xAlVwpYF2afc00VkUebndI
VITE_API_URL=http://localhost:8000/api
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_your_publishable_key
